<div class="news col-lg-3 col-md-6 col-sm-6">
    <div class="blog-card spring-fever">
        <div class="bg-card">
            <div class="img_lastpicture">{{ page.media.images|last }}</div>
            <div class="title-content">
                <h3>{{ page.title }}</h3>
                <hr />
                <div class="intro"></div>
            </div><!-- /.title-content -->
            <div class="card-info">
                <p>{{ page.content|slice(0,200)}}</p>
                <br>
                <a class="btn btn-default" href="{{ page.url }}">Voir la galerie</a>
            </div><!-- /.card-info -->
            <div class="utility-info">
                <ul class="utility-list">
                    <li class="img_author"></li>
                    <li class="date">{{ page.date|date("d/m/Y") }}</li>
                </ul>
            </div><!-- /.utility-info -->
            <!-- overlays -->
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
        </div>
    </div><!-- /.blog-card -->
</div>